@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../built/fonts/Montserrat-Bold/Montserrat-Bold.eot");
  src: url("../../built/fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix")format("embedded-opentype"), url("../../built/fonts/Montserrat-Bold/Montserrat-Bold.woff")format("woff"), url("../../built/fonts/Montserrat-Bold/Montserrat-Bold.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../built/fonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: url("../../built/fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix")format("embedded-opentype"), url("../../built/fonts/Montserrat-Regular/Montserrat-Regular.woff")format("woff"), url("../../built/fonts/Montserrat-Regular/Montserrat-Regular.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Light V1";
  src: url("../../built/fonts/Roboto Light V1/Roboto Light V1.eot");
  src: url("../../built/fonts/Roboto Light V1/Roboto Light V1.eot?#iefix")format("embedded-opentype"), url("../../built/fonts/Roboto Light V1/Roboto Light V1.woff")format("woff"), url("../../built/fonts/Roboto Light V1/Roboto Light V1.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
