@import "fonts";
@import "spriteall";
$monbold: "Montserrat-Bold", sans-serif;
$monreg: "Montserrat-Regular", sans-serif;
$robot: "Roboto Light V1", sans-serif;
$text: #fff;

$buttons: #ff4e50;
$block__titles_col: #333;
$ideas-p-col: #666;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
   @media(min-width: #{$tablet-width}){
    @content;
  }
}
@mixin desktop {
   @media(min-width: #{$desktop-width}){
    @content;
  }
}
// @mixin ie {
//    @if $old-ie{
//     @content;
//   }
// }

* {
  margin: 0;
  padding: 0;
}

.promo {
  font-family: $monbold;
  color: $text;
  height: 540px;
  margin: auto;
  background: url("../img/promo.jpg") no-repeat;
  background-position: calc(50% - 12px) -10px;
  background-size: auto 102.5%;
  @include tablet {
    background-position: calc(50% - 2px);
    background-size: auto 100%;
    height: 700px;
  }
  @include desktop {
    background-position: top;
  }


  .header {
    padding: 20px 0 0;
    width: 154px;
    display: block;
    margin: auto;
    @include tablet {
      padding: 38px 0 0;
      margin: 0 73.6%;
    }
    @include desktop {
      padding: 38px 0 0;
      margin: 0 0 0 72%;
    }


    &__link {
      display: inline-block;
      color: $text;
      font-family: $monbold;
      font-size: 14px;
      text-decoration: none;
    }

    &__sign {
      padding: 7px 17px 7px 15px;
      border: 2px solid $text;
      border-radius: 30px;
      margin-left: 15px;
    }
  }

  &__head {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 115px;
    letter-spacing: 0.7px;
    text-align: center;
    @include tablet {
      margin: -28px 64.5%0 0;
    }
    @include desktop {
      margin: -28px 53.1% 0 0;
    }

  }

  &__title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 27px;
    @include tablet {
      font-size: 52px;
      margin: 144px 10% 0 17.6%;
      display: block;
      width: 64%;
    }
    @include desktop {
      margin: 143px auto 0;
      width: 38%;
    }
  }

  &__par {
    font-size: 18px;
    font-family: $robot;
    text-align: center;
    margin-top: 8px;
    padding: 0 45px 0 43px;
    @include tablet {
      font-size: 24px;
      margin-top: 24px;
    }
  }
}

.promo-btn {
  display: block;
  height: 40px;
  width: 280px;
  border-radius: 20px;
  margin: 14px auto;
  border: none;
  background: $buttons;
  font-family: $monbold;
  color: $text;
  outline: none;
  cursor: pointer;
  @include tablet {
    width: 29.4%;
    margin: 33px 35% 0;
  }
  @include desktop {
    width: 15.6%;
    margin: 34px 42.2% 0;
  }


  &_partners {
    margin: 25px auto 0;
    background: $text;
    color: $buttons;
    border: 2px solid $buttons;
    @include tablet {
      margin: 68px 37% 0;
      width: 196px;
    }
    @include desktop {
      margin: 68px 39.6% 0;
      width: 196px;
    }

  }

  &_search {
    margin: 10px auto 0;
    @include tablet {
      display: inline-block;
      width: 160px;
      margin: 37px 0 0 6px;
    }
    @include desktop {
      margin: 39px 0 0 6px;
    }
  }
}

.title {
  font-family: $monbold;
  color: $block__titles_col;
  font-size: 22px;
  text-align: center;
  @include tablet {
    width: 38%;
    padding: 0 31.3%;
  }
  @include desktop {
    padding: 0 30.9%;
  }
}

.step {
  margin: 34px auto 0;
  width: 300px;
  @include tablet {
    margin: 94px auto 0;
    width: 768px;
  }
  @include desktop {
    margin: 94px auto 0;
    width: 940px;
  }


    .one {
    height: 246px;
    margin: 15px auto 0;
    display: inline-block;
    @include tablet {
      height: 434px;
      margin: 15px 0 0 9px;
    }
    @include desktop {
      margin: 15px 0 0;
    }

  }

  .two {
    height: 250px;
    margin: 0 auto;
    display: inline-block;
    @include tablet {
      height: 434px;
      margin: 15px 0 0 16px;
    }
    @include desktop {
      margin: 15px 0 0 -5px;
    }

  }

  .three {
    display: inline-block;
    height: 250px;
    margin: -4px auto;
    @include tablet {
      height: 434px;
      margin: 15px 0 0 16px;
    }
    @include desktop {
      margin: 15px 0 0 4px;
    }

  }

  [id*="-control"] .slidr-control:after {
    border-color: transparent !important;
  }

  [id*="-control"] .slidr-control.right {
    background: url("../img/arrow-next.png");
    width: 30px !important;
    height: 56px !important;
    top: 35% !important;
    @include tablet {
      top: 13.3% !important;
      right: 21px !important;
    }
    @include desktop {
      top: 39.3% !important;
      right: 22px !important;
    }

  }

  [id*="-control"] .slidr-control.left {
    background: url("../img/arrow-prev.png");
    width: 30px !important;
    height: 56px !important;
    top: 35% !important;
    @include tablet {
      top: 13.3% !important;
      left: 21px !important;
    }
    @include desktop {
      top: 39.3% !important;
      left: 31px !important;
    }

  }

  .steps {
    border-radius: 4px;
    overflow: auto;
    height: 240px;
    width: 300px;
    @include tablet {
      height: 400px;
      width: 236px;
      display: inline-block;
      margin-top: 18px;
    }
    @include desktop {
      width: 311px;
      height: 402px;
    }


    &__item {
      display: block;
      background: $buttons;
      width: 70px;
      border-radius: 10px;
      text-align: center;
      color: $text;
      text-transform: uppercase;
      font-family: $monreg;
      font-size: 10px;
      margin: 69px 0 0 21px;
      padding: 4px 0 3px;
      letter-spacing: 1.5px;
      @include tablet {
        margin: 213px 0 0 20px;
      }
      @include desktop {
        margin: 230px 0 0 21px;
      }


      &_two {
        margin: 99px 0 0 20px;
        @include tablet {
          margin: 259px 0 0 19px;
        }
        @include desktop {
          margin: 260px 0 0 30px;
        }

      }

      &_three {
        @include tablet {
          margin: 211px 0 0 21px;
        }
        @include desktop {
          margin: 230px 0 0 32px;
        }

      }
    }

    &__title {
      color: $text;
      font-family: $monbold;
      font-size: 24px;
      margin: 15px 0 0 19px;

      &_two {
        margin: 15px 0 0 18px;
        @include desktop {
          margin: 15px 0 0 28px;
        }
      }

      &_three {
        @include desktop {
          margin: 15px 0 0 30px;
        }
      }
    }

    &__text {
      color: #ccc;
      font-family: $robot;
      font-size: 14px;
      display: block;
      padding: 13px 6px 0 19px;
      @include tablet {
        padding: 12px 6px 0 18px;
      }
      @include desktop {
        padding: 12px 0 0 20px;
        width: 260px;
      }


      &_two {
        word-spacing: 0.5px;
        line-height: 16px;
        @include tablet {
          padding: 12px 10px 0 18px;
        }
        @include desktop {
          padding: 13px 0 0 29px;
        }

      }

      &_three {
        @include desktop {
          padding: 13px 0 0 30px;
        }
      }
    }
  }

  &_one {
    background: url("../img/step1.m.jpg")no-repeat;
    @include tablet {
      background: url("../img/step1.jpg") calc(50% - 6px) 1px no-repeat;
    }

  }

  &_two {
    background: url("../img/step2.m.jpg")no-repeat;
    @include tablet {
      background: url("../img/step2.jpg") calc(50% + 4px) no-repeat;
    }

  }

  &_three {
    background: url("../img/step3.m.jpg")no-repeat;
    @include tablet {
      background: url("../img/step3.jpg") calc(50% - -5px) -1px no-repeat;
    }

  }
}

.partners {
  margin: 23px auto 0;
  @include tablet {
    width: 768px;
    margin: 27px auto 0;
  }
  @include desktop {
    width: 940px;
    margin: 20px auto 0;
  }


  &__title {
    padding: 0 7px 0 0;
    @include tablet {
      width: 53%;
      padding: 50px 23% 0;
    }
    @include desktop {
      width: 54%;
      padding: 56px 22.9% 0;
    }

  }

  .partner {
    margin: 13px auto 0;
    width: 219px;

    &_one {
      @include tablet {
        margin: 30px 147px 0;
      }
      @include desktop {
        margin: 31px 2px 0;
      }

    }

    &_two {
      margin-top: 24px;
      @include tablet {
        margin: 54px 0 0 147px;
      }
      @include desktop {
        margin: -205px 482px 0;
      }

    }

    &_three {
      margin-top: 23px;
      @include tablet {
        margin: -499px 0 0 405px;
      }
      @include desktop {
        margin: -240px 244px 0;
      }

    }

    &_four {
      margin-top: 23px;
      @include tablet {
        margin: 54px 0 0 405px;
      }
      @include desktop {
        margin: -205px 724px 0;
      }

    }

    &__photo {
      @include sprite($bh1);
      border-radius: 60%;
      margin-left: 47px;
      position: relative;


      &_two {
        @include sprite($lm);
        margin-left: 46px;
      }

      &_three {
        @include sprite($hw);
        margin-left: 46px;
      }

      &_four {
        @include sprite($bh2);
        margin-left: 44px;
      }
    }

    &__icon {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: $buttons;
      position: absolute;
      top: 70%;
      right: -3.5%;
      border: 5px solid #ffffff;
      box-sizing: border-box;


      &_two {
        background: #ffa507;
      }

      &_three {
        background: #1cd7ad;
      }

      &_four {
        background: #4e73db;
      }
    }

    &__img {
      @include sprite($-t-v);
      position: absolute;
      top: 22%;
      left: 20%;

      &_one {
        @include tablet {
          top: 21%;
          left: 25%;
        }
      }

      &_two {
        @include sprite($flask);
        left: 26%;
      }

      &_three {
        @include sprite($cup);
        top: 20%;
        left: 19%;
      }

      &_four {
        @include sprite($plane);
        left: 10%;
      }
    }

    &__name {
      font-size: 14px;
      font-family: $monbold;
      color: $block__titles_col;
      display: block;
      text-align: center;
      margin-top: 17px;

      &_three {
        margin-top: 16px;
        margin-left: -7px;
      }

      &_four {
        margin-top: 14px;
        margin-left: -7px;
      }
    }

    &__text {
      font-size: 14px;
      font-family: $robot;
      color: $ideas-p-col;
      margin-top: 13px;
      text-align: center;
      letter-spacing: 0.1px;

      &_two {
        @include tablet {}
      }

      &_three {
        margin: 14px 0 0 -9px;
      }

      &_four {
        margin: 14px 0 0 -7px;
      }
    }
  }
}

.ideas {
  margin-top: 34px;

  &__title {
    @include tablet {
      margin-top: 97px;
      width: 45%;
      padding: 0 27.3%;
    }

  }

  .holiday {
    width: 300px;
    margin: auto;
    @include tablet {
      width: 748px;
      margin-top: 32px;
    }
    @include desktop {
      width: 940px;
    }


    &__item {
      margin-bottom: 10px;
      @include tablet {
        margin-bottom: 15px;
      }
      @include desktop {
        margin-bottom: 16px;
      }

    }

    &__sizer {
      width: 300px;
      @include tablet {
        width: 236px;
      }
      @include desktop {
        width: 300px;
      }
    }

    &__picture {
      width: 300px;
      height: 121px;
      border-radius: 4px;
      @include tablet {
        width: 236px;
        height: 311px;
      }
      @include desktop {
        width: 300px;
        height: 310px;
      }


      &_wide {
        width: 300px;
        height: 121px;
        border-radius: 4px;
        @include tablet {
          width: 492px;
          height: 311px;
        }
        @include desktop {
          width: 620px;
          height: 310px;
        }

      }
    }

    &__box {
      color: $text;
      font-family: $monbold;
      font-size: 22px;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &__text {
      width: 90%;
      margin: 42px 5%;
      max-height: 68%;
      display: block;
      @include tablet {
        margin: 140px 5%;
      }

    }
  }
}

.search {
  padding: 3px 0 40px;
  border-bottom: 4px solid $buttons;
  @include tablet {
    padding: 75px 0 99px;
  }


  &__title {
    @include tablet {
      width: 50%;
      padding: 0 24.6%;
    }
    @include desktop {
      width: 50.6%;
    }

  }

  &__text {
    font-size: 18px;
    font-family: $robot;
    color: $block__titles_col;
    display: block;
    margin: 11px auto;
    width: 280px;
    @include tablet {
      margin: 31px auto 0;
    }

  }

  &__field {
    height: 38px;
    padding-left: 14px;
    margin: 14px auto 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: $robot;
    color: #999;
    font-size: 14px;
    outline: none;
    width: 83%;
    display: block;
    @include tablet {
      font-size: 14px;
      display: inline-block;
      width: 29.2%;
      margin: 37px 0 0 23%;
    }
    @include desktop {
      width: 15.6%;
      margin: 39px 0 0 35.7%;
      font-size: 14px;
    }

  }
}

.footer {
  margin-top: 16px;
  font-family: $monbold;
  @include tablet {
    margin-top: 16px;
    position: relative;
  }


  &__head {
    color: $buttons;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-align: center;
    margin: 0 3px 0 0;
    @include tablet {
      margin: 20px 0 0 38px;
      display: inline-block;
    }
    @include desktop {
      margin: 20px 0 0 249px;
    }

  }

  &__text {
    color: $block__titles_col;
    font-size: 14px;
    text-align: center;
    margin: 11px 3px 0 0;
    @include tablet {
      display: inline-block;
      margin: 0 0 0 80px;
    }
    @include desktop {
      margin: 0 0 0 94px;
    }


    &_partners {
      @include tablet {
        position: absolute;
        top: 13.9%;
        left: 356px;
      }
      @include desktop {
        left: 556px;
      }

    }
  }

  &__nav {
    display: block;
    margin: 1px 0 0 16%;
    @include tablet {
      display: block;
      margin: 13px 0 0 254px;
    }
    @include desktop {
      margin: 13px 0 0 481px;
    }

  }

  &__items {
    color: $ideas-p-col;
    font-family: $robot;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    @include tablet {
      display: block;
      margin-bottom: 7px;
    }

  }

  &__design {
    font-family: $monbold;
    font-size: 10px;
    color: #ccc;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13px;
    letter-spacing: 1px;
    @include tablet {
      position: absolute;
      top: 5.9%;
      right: 5.1%;
    }
    @include desktop {
      right: 17.3%;
    }

  }

  &__logo {
    display: block;
    @include sprite($logo);
    margin: 8px auto;
    @include tablet {
      position: absolute;
      top: 23.5%;
      right: 5.4%;
    }
    @include desktop {
      right: 17.3%;
    }

  }
}
