<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exam</title>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="built/css/ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="built/css/style.css">
<!--<![endif]-->

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="promo">
    <header class="header">
      <a href="#" class="header__link header__log">Log in</a>
      <a href="#" class="header__link header__sign">Sign up</a>
    </header>
    <h1 class="promo__head">Urlaubsglück</h1>
    <h2 class="promo__title">Share your holiday dreams</h2>
    <p class="promo__par"> And find the perfect partner to fullfill it</p>
    <button type="button" name="promo" class="promo-btn">Find your holiday partner</button>
  </div>
  <div class="step">
    <h3 class="title">How Urlaubsglück works?</h3>
    <div id='slidr-one' class="one">
      <div class="steps step_one" data-slidr="one">
        <span class="steps__item">Step 1</span>
        <h3 class="steps__title">Sed leo enim, condimentum</h3>
        <p class="steps__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </div>
      <div class="steps step_two" data-slidr="two">
        <span class="steps__item steps__item_two ">Step 2</span>
        <h3 class="steps__title steps__title_two">Morbi velit risus</h3>
        <p class="steps__text steps__text_two">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
      </div>
      <div class="steps step_three" data-slidr="tree">
        <span class="steps__item steps__item_three">Step 3</span>
        <h3 class="steps__title steps__title_three">Sed leo enim, condimentum</h3>
        <p class="steps__text steps__text_three">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </div>
    </div>
    <div id='slidr-two' class="two">
      <div class="steps step_two"data-slidr="one">
        <span class="steps__item steps__item_two ">Step 2</span>
        <h3 class="steps__title steps__title_two">Morbi velit risus</h3>
        <p class="steps__text steps__text_two">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
      </div>
      <div class="steps step_three" data-slidr="two">
        <span class="steps__item steps__item_three">Step 3</span>
        <h3 class="steps__title steps__title_three">Sed leo enim, condimentum</h3>
        <p class="steps__text steps__text_three">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </div>
      <div class="steps step_one" data-slidr="three">
        <span class="steps__item">Step 1</span>
        <h3 class="steps__title">Sed leo enim, condimentum</h3>
        <p class="steps__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </div>
    </div>
    <div id='slidr-three' class="three">
      <div class="steps step_three" data-slidr="one">
        <span class="steps__item steps__item_three">Step 3</span>
        <h3 class="steps__title steps__title_three">Sed leo enim, condimentum</h3>
        <p class="steps__text steps__text_three">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </div>
      <div class="steps step_one" data-slidr="two">
        <span class="steps__item">Step 1</span>
        <h3 class="steps__title">Sed leo enim, condimentum</h3>
        <p class="steps__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
      </div>
      <div class="steps step_two" data-slidr="three">
        <span class="steps__item steps__item_two ">Step 2</span>
        <h3 class="steps__title steps__title_two">Morbi velit risus</h3>
        <p class="steps__text steps__text_two">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
      </div>
    </div>
  </div>
  <div class="partners">
    <h3 class="title partners__title">Meet a partner for your best holiday</h3>
    <div class="partner partner_one">
      <div class="partner__photo">
        <div class="partner__icon">
          <div class="partner__img partner__img_one"></div>
        </div>
      </div>
      <p class="partner__name">Bradley Hunter</p>
      <p class="partner__text">Based in Chicago. I love playing tennis and loud music.</p>
    </div>
    <div class="partner partner_two">
      <div class="partner__photo partner__photo_two">
        <div class="partner__icon partner__icon_two">
          <div class="partner__img partner__img_two"></div>
        </div>
      </div>
      <p class="partner__name">Lucas Marsha</p>
      <p class="partner__text partner__text_two">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
    </div>
    <div class="partner partner_three">
      <div class="partner__photo partner__photo_three">
        <div class="partner__icon partner__icon_three">
          <div class="partner__img partner__img_three"></div>
        </div>
      </div>
      <p class="partner__name partner__name_three">Heather Walker</p>
      <p class="partner__text partner__text_three">I'm a happy person that loves cats and climbing on mountains.</p>
    </div>
    <div class="partner partner_four">
      <div class="partner__photo partner__photo_four">
        <div class="partner__icon partner__icon_four">
          <div class="partner__img partner__img_four"></div>
        </div>
      </div>
      <p class="partner__name partner__name_four">Bradley Hunter</p>
      <p class="partner__text partner__text_four">Based in Chicago. I love playing tennis and loud music.</p>
    </div>
    <button type="button" name="promo" class="promo-btn promo-btn_partners">See other partners</button>
  </div>
  <div class="ideas">
    <h3 class="title ideas__title">Discover holiday activity
ideas</h3>
    <div class="holiday"></div>
    <script type="text/lodash" id='code'>
      <div class="holiday__sizer"></div>
      <% for(var i = 0; i < list.hits.length; i++) { %>
        <% if (i==4 || i==5) {%>
          <div class="holiday__item">
            <img src=<%=list.hits[i].webformatURL%> alt="" class='holiday__picture_wide'>
            <%} else { %>
              <div class="holiday__item">
                <img src=<%=list.hits[i].webformatURL%> alt="" class='holiday__picture'>
                <% }%>
                  <div class="holiday__box">
                    <span class="holiday__text"><%=list.hits[i].tags%></span>
                  </div>
              </div>
              <% } %>
    </script>
    </div>
    <div class="search">
      <h3 class="title search__title">Discover holiday activity
ideas</h3>
      <p class="search__text">Hi! What are your holiday interests?</p>
      <input type="text" name="search" value="" class="search__field" placeholder="Enter your interests">
      <button type="button" name="promo" class="promo-btn promo-btn_search">Search partners</button>
    </div>
    <footer class="footer">
      <h4 class="footer__head">Urlaubsglück</h4>
      <p class="footer__text">Company</p>
      <nav class="footer__nav">
        <a href="#" class="footer__items">About</a>
        <a href="#" class="footer__items">Contacts</a>
        <a href="#" class="footer__items">Press</a>
        <a href="#" class="footer__items">Blog</a>
      </nav>
      <p class="footer__text footer__text_partners ">Partners</p>
      <p class="footer__design">Designed by</p>
      <a href="#" class="footer__logo"></a>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
    <script src='built/js/masonry.pkgd.min.js'></script>
    <script src="built/js/slidr.min.js"></script>
    <script src="built/js/script.js"></script>
</body>

</html>
